#RewriteEngine On
#RewriteCond %{REQUEST_URI} !\.(ico|gif|jpeg|jpg|png|js|css|woff|ttf|svg|eot|otf)
#RewriteCond %{REQUEST_URI} !view/javascript/crossdomain.php
#RewriteCond %{REQUEST_URI} !view/theme/sumobuilder/stylesheet/stylesheet.php
#RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
